* {
    margin: 0;
    padding: 0;
}

:root {
    --container: 1300px;
    --container-big: 1000px;
    --container-medium: 700px;
    --container-small: 400px;
    --margin-bottom-for-title: 40px auto;

    --font-title: 'forTitle', sans-serif;
    --font-text: 'forText', sans-serif;

    --width-banner-desktop: 550px;
    --height-banner-desktop: 400px;
    --width-banner-big: 480px;
    --height-banner-big: 500px;
    --width-banner-medium: 300px;
    --height-banner-medium: 600px;
    --height-medicine-banner-medium: 500px;
    --width-banner-small: 400px;
    --height-banner-small: 200px;

    --width-content-big: 480px;
    --width-content-medium: 370px;
    --width-content-small: 400px;
}

@font-face {
    font-family: 'forText';
    src: url('../assets/fonts/RobotoFlex-Regular.woff') format('woff2'),
         url('../assets/fonts/GreatVibes-Regular.woff2') format('woff');
}

@font-face {
    font-family: 'forTitle';
    src: url('../assets/fonts/GreatVibes-Regular.woff') format('woff2'),
         url('../assets/fonts/GreatVibes-Regular.woff2') format('woff');
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {    
    margin: 0px;
    padding: 0px;
}
picture {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
li {

}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}